@charset "UTF-8";

:root {
    --cor1: #6C510D;
    --cor2: #8E6B11;
    --cor3: #B08415;
    --cor4: #D29E19;
    --cor5: #F4B71D;
    --cor6: #FCBE1E;

    --font-padrao: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'FRL';
    src: url(fonts/Sunday\ Best\ ttf.ttf) format(treutype);
}

*{
    margin: 0px;
}


header {
    border: 10px solid var(--cor6);
    margin: 10px 10px 0px 10px;
    background-color: white;
    text-align: center;
    padding: 20px;
}
header > h1 {
    font-family: cursive;
    padding-bottom: 15px;
    color: var(--cor6);
}
header >  p {
    padding-top: 15px;
    font-size: 30px;
    font-family: cursive;
    color: var(--cor6);
}
nav {
    background-color: var(--cor6);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    padding-bottom: 17px;
}
nav > a {
    font-size: 25px;
    font-weight: 900;
    margin-left: 30px;
    color: white;
    text-decoration: none;
}
nav > a:hover {
    background-color: white;
    color: var(--cor6);
    padding: 5px;
    border-radius: 5px;
}


main {
    border: 10px solid var(--cor6);
    margin: 10px;
}



